.DS_Store
HW.md
week1/HW1_7:13.psd
week1/mango.jpg
week1/red-fresh-strawberries-with-green-leaves.jpg
week1/picked-organic-raspberries-macro.jpg
week1/c2da173938de39aaea14b17d2f09887bba1d5481e9db5-H2LN1e.jpeg
week1/HW2_7:14.psd
week1/我要印！.jpg
week1/PNGGGGGG.png